:root {
    --color-mlt-green: #005035;
    --color-mlt-orange: #F99D22;
    --color-mlt-drak-gray: #555;
    --color-mlt-light-gray: #C0C0C0;
}

body {
    background-color: black;
}

.topnav {
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 10px 15px;
}

.topnav-links{
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.topnav-logo {
    width: 50%;
    margin: 0;
    padding: 0;
}

.topnav-logo img{
    height: 75px;
    width: auto;
}

.topnav-links a {
    margin: 0 5px;
    width: 110px;
    height: 50px; 
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 5%;
    background-color: var(--color-mlt-light-gray);
    text-decoration: none;
    color: var(--color-mlt-green);
}

.topnav-links a:hover {
    color: var(--color-mlt-orange);
    background-color: var(--color-mlt-green);
}

.topnav-links .active {
    background-color: var(--color-mlt-drak-gray);
    color: black;
    border: 2px solid var(--color-mlt-green)
}
